body {
	margin-left: 20px;
}

h1 {
	text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}

input {
	margin-bottom: 5px;
}

label {
	cursor: pointer; 
	margin-right: 30px;
}

div > input {
	margin-top: 10px;
	margin-left: 50%;

}

